.AnswerItem {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.AnswerItem:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease-in-out;
}

.AnswerItem.success {
    background: rgba(161, 240, 69, 0.7);
}

.AnswerItem.error {
    background: rgba(240, 87, 108, 0.7);
}
